/**
 * IATS APPLICATION
 * By: Hoiyen
 * Ver: 1.0.0
 * Last Update: 31/01/2017
 *
 * Type:
 * Stylesheet
 * 
 * Description:
 * Site responsive stylesheet
 */
/* base */
html, body {
  min-height: 100%;
  height: 100%;
  font-family: "Effra", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;  
}
.btn.focus, .btn:focus, .btn:hover {
  color: #FFF;
}

/* helpers */
.mb-20 {
  margin-bottom: 20px;
}
p {
  margin: 0 0 20px;
}
a:active, a:focus {
  outline: none;
}
a:hover, a:active, a:focus {
  text-decoration: none;
}
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
.wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
}
.body {
  color: #000;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#iats {
  position: relative;
  width: 100%;
  height: 100%;
}

header {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

header > .container-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
}

header .logo {
  padding-left: 30px;
}

.header-links {
  text-align: right;
  padding-right: 30px;
}

.header-links a {
  color: #FFF;
  font-weight: 300;
  font-size: 20px;
  line-height: 46px;
  margin-left: 40px;
  padding-bottom: 1px;
}

.header-links a:hover {
  color: #daa765;
  border-bottom: none;
}

.header-links a.active {
  border-bottom: 1px solid #daa765
}

.header-links a.active:hover {
  border-bottom: 1px solid #daa765
}

.content {
  padding-top: 106px;
}

.posts {
  padding: 30px 0;
}

.post {
  margin-bottom: 30px;
}

.post .avatar {
  border: 4px solid #daa765;
  display: inline-block;
  border-radius: 50%;
  padding: 1px;
  margin-right: 20px;
  float: left;
}

.featured-image img {
  min-width: 100%;
  height: auto;
}

.post .avatar img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.post .profile {
  line-height: 1.2em;
}

.post .profile .post-date {

}

.post .profile .username {
  margin-left: 5px;
  font-size: 26px;
}

.post .profile .location {
  display: block;
  font-weight: bold;
}

.post .profile .location > .fa {
  color: #daa765;
}

.entry-content {
  padding: 30px 0;
  padding-bottom: 0px;
}

.entry-content img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.entry-content p {
  font-size: 18px;
}

.entry-social {
  margin: 15px 0;
}

.tags {
  margin-bottom: 20px;
}

.tags > .tag {
  background-color: #daa765;
  padding: 5px 20px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 6px;
  display: inline-block;
}